li, l2, l3, l4 {
  float: left;
}

li a {
  display: block;
  color:black;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #BDDDF4;
}

li4 a {
  display: block;
  color:black;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

li4 a:hover:not(.active) {
  background-color: #BDDDF4;
}

li2 a {
  display: block;
  color:white;
  text-align: center;
  text-decoration: none;
  border-bottom: 2px black solid;
  width: 260px;
}

li3 a {
  display: block;
  color:white;
  text-align: center;
  text-decoration: none;
  width: 260px;
}

.active {
  background-color: #cccccc;
}

.separador {
    border-bottom: 2px black solid;

    width: 100%;
    height: 2px;
}

.separador2 {
  border-bottom: 10px black;

  width: 100%;
  height: 2px;
}